<footer id="footer" class="footer">
    <div class="copyright">
      &copy; Project Developed by  <strong><span>Mr. Subhrajyoti Debnath.</span></strong>
    </div>
    <div class="credits">
      Designed by <a href="https://www.linkedin.com/in/subhrajyoti-debnath-3bb3b6284/" target="_blank">Mr. Subhrajyoti Debnath.</a>
    </div>
  </footer>